<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDfNDirdwoqCLGvywbT1T0iEhPZ2jU-bqI</string>
	<key>GCM_SENDER_ID</key>
	<string>483959389384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.wondertech.notedup</string>
	<key>PROJECT_ID</key>
	<string>notedup-2cedd</string>
	<key>STORAGE_BUCKET</key>
	<string>notedup-2cedd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483959389384:ios:420062dfa60e71f84e39fd</string>
</dict>
</plist>